body {
    background-color: #241e1d;
    color: white;
    font-family: 'Fraunces', serif;
}

h1, h2, h3 {
    font-family: 'Rye', cursive;
    text-align: center;
}

h1 {
    font-size: 66px;
}

h3 {
    font-size: 46px;
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    color: #8a1404;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style-type: none;
}


/* Characters List */

.characters-list {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.wizards-list, .warriors-list {
    padding: 0 60px;
    text-align: left;
}

.li-warrior, .li-wizard {
    font-size: 36px;
}


.add-character {
    text-align: center;
    margin-top: 50px;
}

.add-button {
    margin: 30px auto;
    background-color: #8a1404;
    border-radius: 10px;
    text-decoration: none;
    font-size: 26px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: unset;
    color: white;
    font-family: 'Fraunces', serif;
}

.add-button:hover {
    background-color: white;
    color: black;
}

/* Add a character */

.add-form {
    margin: 20px auto;
    width: fit-content;
    font-size: 26px;
}

.add-form label {

}

.form-fields {
    display: flex;
    justify-content: center;
}

.form-fields > * {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-buttons {
    width: fit-content;
    margin: 60px auto;
}

.form-buttons > * {
    margin-left: 15px;
    margin-right: 15px;
}

.field-title {
    padding-bottom: 10px;
}

.error-message {
    font-size: 15px;
    color: #8a1404;
    font-style: italic;
}

/* Character details */

.detail-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: fit-content;
    margin: auto;
}

.detail-list li {
    font-size: 26px;
    /*text-align: left;*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.detail-list li span {
    padding: 0 15px;
}
.bold-red {
    text-align: right;
    font-size: 36px;
    color: #8a1404;
}

.retour {
    /*margin-top: 50px;*/

}