<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Characters List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<h1>Liste des personnages</h1>
<div class="characters-list">
    <div class="wizards-list">
        <h3>Wizards</h3>
        <ul>
            <li class="li-wizard" th:each="character : ${characters}" th:if="${character.type == T(springboot.campus.microservice.enums.TypeList).Wizard}"
                th:text="${character.id} + ' - ' + ${character.name}"></li>
        </ul>
    </div>
    <div class="warriors-list">
        <h3>Warriors</h3>
        <ul>
            <li class="li-warrior" th:each="character : ${characters}" th:if="${character.type == T(springboot.campus.microservice.enums.TypeList).Warrior}"
                th:text="${character.id} + ' - ' + ${character.name}"></li>
        </ul>
    </div>
</div>

<div class="add-character">
    <a th:href="@{/characters/new}" class="add-button">
        Add a new character
    </a>
</div>
</body>
</html>