<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit your character</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<h1 th:text="Edit + ' ' + ${character.name}"></h1>
<form class="add-form" action="#" th:action="@{/character/{id}/edit(id = ${character.id})}" th:object="${character}" method="post">
    <div class="form-fields">
        <div>
            <label class="field-title" th:for="name">Name</label>
            <input type="text" id="name" name="name" th:field="*{name}" th:value="${character.name}"/>
            <div class="error-message" th:if="${nameErrorMessage}" th:text="${nameErrorMessage}"></div>

        </div>
        <div class="type-field">
            <div class="field-title">Type</div>
            <div th:each="character_type: ${T(springboot.campus.microservice.enums.TypeList).values}">
                <input th:id="${#strings.toLowerCase(character_type)}" th:name="${#strings.toLowerCase(character_type)}"
                       type="radio" th:value="${character_type}"
                       th:field="*{type}"/>
                <label th:text="${character_type}" th:for="${#strings.toLowerCase(character_type)}"></label>
            </div>
            <div class="error-message" th:if="${typeErrorMessage}" th:text="${typeErrorMessage}"></div>
        </div>
    </div>
    <div class="form-buttons">
        <input class="add-button" type="submit" value="Save"/>
        <input class="add-button" type="reset" value="Reset"/>
    </div>
</form>
</body>
</html>